[defaults]
hostfile = ./inventories
inventory = ./inventories
private_key_file= ~/.ssh/id_rsa
host_key_checking = False
roles_path = ./galaxy-roles:./site-roles
log_path = ./log/ansible.log
library = /usr/lib/pymodules/python2.7/ansible/module_utils/
library = ./library
nocows = 1
pipelining=True
callback_whitelist = profile_tasks, slack
#callback_whitelist = timer, slack
