---
#- name: "Install packages"
#  apt:
#    pkg: "{{ item }}"
#    state: installed
#    force: yes
#    update_cache: yes
#  with_items:
#    - vagrant
#    - git
#    - virtualbox
#    - xorg
#    - xauth
#  tags:
#    - apt
#  when: ansible_distribution == 'Ubuntu'
#
#- name: "Enable Homebrew Casks"
#  homebrew_cask: name="{{ item }}"
#  with_items:
#  - java
#  - vagrant
#  - virtualbox
#  when: ansible_distribution == 'MacOSX'
#
#- name: "Install packages"
#  homebrew: name="{{ item }}" state=present
#  with_items:
#    - git
#    - vagrant
#    - vagrant-completion
#    - bash-git-prompt
#    - virtualbox
#    # - virtualbox-extension-pack
#  tags:
#    - brew
#  when: ansible_distribution == 'MacOSX'
