---

- name: "Create / Verify {{ default.vagrant_dir }}"
  file: name="{{ default.vagrant_dir }}" state=directory

- name: "Generate Vagrant run-time configurations"
  template:
    src: "{{ item }}.j2"
    dest: "{{ default.vagrant_dir }}/{{ item }}"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
  with_items:
    - servers.yml
    - inventory
    - Vagrantfile
  tags:
  - conf

- name: "Generate global inventory file"
  template:
    src: inventory.j2
    dest: "{{ default.vagrant_dir }}/../inventories/inventory"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
  tags:
  - conf

- debug: var=cicd

- name: "Destroy vagrant boxes"
  command: "vagrant destroy -f"
  args:
      chdir: "{{ default.vagrant_dir }}"
  when: (clean is defined) or (force is defined)

- name: "Create vagrant boxes"
  command: "vagrant up --provision"
  args:
      chdir: "{{ default.vagrant_dir }}"
  when: clean is undefined or skip_create is defined

- debug: msg=manager_key
  tags:
    - ah

- add_host:
    name: "{{ default.prefix }}-{{ item.cname }}"
    ansible_host: "{{ item.ip }}"
    ansible_port: "{{ item.ssh_port }}"
    ansible_user: "{{ item.user }}"
#    ansible_ssh_pass: "{{ item.pass }}"
    ansible_ssh_private_key_file: "{{ default.vagrant_dir }}/.vagrant/machines/{{ default.prefix }}-{{ item.cname }}/virtualbox/private_key"
    groups: "{{ default.group_name }}"
  with_items:
  - "{{ cicd.hosts }}"
  tags:
  - ah