---
- hosts: localhost
  vars:
    create_infra: true
    vagrant: true
    skip_create: true
    create_swarm: false
  roles:
    -  role: infra-init

- hosts: shelleg-swarm-instances:shelleg-infra-instances
  roles:
    - role: shelleg-common

- hosts: shelleg-infra01
  become: yes
  become_user: root
  roles:
    - role: apt-cacher-ng
    - role: docker-host
  tasks:
    - name: "pull Docker Images Instead of downloading in realtime"
      docker_image:
        name: "{{ item.name }}:{{ item.tag }}"
      with_items: "{{ docker_images }}"

- hosts: shelleg-infra01
  become: yes
  become_user: root
  roles:
    - role: docker-dnsmasq
    - role: docker-ntp
#    - role: docker-consul
#    - role: docker-registry

#- hosts: shelleg-infra02
#  become: yes
#  become_user: root
#  roles:
#    - role: docker-apt-cacher-ng