---
- hosts: localhost
  vars:
    create_swarm: true
    vagrant: true
    aws: false
  roles:
    - role: infra-init
      tags: init

- hosts: shelleg-swarm-instances
  vars:
    ca_distribute_keys: true
  become: yes
  become_user: root
  roles:
    - role: shelleg-common # shellg common tasks
      tags: always
    - role: ntp
      tags: core,ntp
    - role: ca
      tags: ca,core

- hosts: shelleg-swarm-instances
  become: yes
  become_user: root
  roles:
    - role: apt-cacher-ng   # become apt-cacher client
      tags: core
    - role: ansible-role-docker-swarm
      tags: code,swarm
    - role: dnsmasq         # configure to use dnsmasq as dns
      tags: code,dns
#    - role: nfs
#      tags: init,nfs
    - role: docker-registrator
      tags: registrator

- hosts: shelleg-swarm-instances-managers
  become: yes
  become_user: root
  roles:
    - role: swarm-visualizer
      tags: swarm,visualizer
